<ion-view style="" class=" " id="page10" title="Danh sách đơn hàng">
    <ion-content class="has-header" padding="true">
      <label class="item item-input" style="background-color: aliceblue;">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" ng-model="filterOrder" placeholder="Tìm theo SĐT" >
      </label>
      <div class="card" style=" margin-top: 5px" >
          <p style=" margin-top: 10px; margin-left: 10px;margin-bottom: 0px; color:gray;">Lọc theo:</p>
          <div class="row">
             <div class="col text-center" >
                <button class="button button-outline button-royal" style=" padding-left: 10px;padding-right: 10px;" ng-disabled="isDisableCanGiao" ng-click="canGiaoClick()">
                Cần giao
                </button>
             </div>
             <div class="col text-center" >
               <button class="button button-outline button-royal" style=" padding-left: 10px;padding-right: 10px;" ng-disabled="isDisableDangNhan" ng-click="dangNhanClick()">
                 Đang nhận
                </button>
             </div>
             <div class="col text-center" >
               <button class="button button-outline button-royal" style=" padding-left: 10px;padding-right: 10px;" ng-disabled="isDisableDaGiao" ng-click="daGiaoClick()">
                 Đã giao
                </button>
             </div>
          </div>
      </div>
      <ion-list>
        <div class="card item-avatar" ng-repeat="order in orders| filter:filterOrder| orderBy:'-OrderDate'" ng-click="orderClick(order._id)" ng-if="$index<numberMaxItem">
            <img  src="img/client/orders.png" style="margin-left: 10px;margin-top: 5px"> 
            <p style="font-size: 12px; color: gray; margin-bottom: 0px"><b>SĐT: {{order.PhoneNumber}}</b></p>
            <p style="font-size: 12px; color:gray; margin-bottom: 0px;" >Ngày: {{order.OrderDate | date:"dd/MM/yyyy 'lúc' h:mma"}}</p>
            <p style="font-size: 12px; color: green; margin-bottom: 0px;">Trạng thái: {{order.Status}}</p>
            <p style="font-size: 12px; color: green; margin-bottom: 0px"><b>Tổng: {{order.Total| currency:"":0}}đ</b></p>                 
        </div>
      </ion-list>
      	<div class="row"> <div style="height: 100px;"></div></div>
      <ion-infinite-scroll ng-if="!noMoreItemsAvailable" icon="ion-loading-c" on-infinite="loadMore()" distance="10%"> </ion-infinite-scroll>
    </ion-content>
</ion-view>
