<ion-view style="" class="" id="" title="Thống kê">
    <ion-content class="has-header" padding="true">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
        <div class="row" style="background-color: #886aea;margin-left: 0px;border-bottom: 1px solid #886aea;border-top-left-radius: 5px; border-top-right-radius: 5px;">
            <div class="col">
                <p style="margin-bottom:0px;color: white;">Hôm nay</p>
            </div>
        </div>
         <div  style="border-left: 1px solid #886aea;border-right: 1px solid #886aea;margin-bottom:10px;margin-top:0px;border-bottom: 1px solid #886aea;">
            <div class="row text-center" style="margin-bottom: 5px">
                <div class="col" style="background-color: #e8b110; margin-right:5px;border-radius: 5px!important;">
                    <p style="color: white;">Số đơn hàng đã giao</p>
                    <p style="color: white;">{{reportData.numOfDeliveredOrder}}</p>
                </div>
                <div class="col" style="background-color: #d53f40; margin-left:5px;border-radius: 5px!important;">
                    <p style="color: white;">Tổng tiền đã giao</p>
                    <p style="color: white;">{{reportData.totalMoneyInDay | currency:"":0}}</p>
                </div>
            </div>
            <div class="row text-center" style="margin-bottom: 5px;margin-top: 5px;">
                <div class="col" style="background-color: #9abc32; margin-right:5px;border-radius: 5px!important;">
                    <p style="color: white;">Số đơn đang nhận</p>
                    <p style="color: white;">{{reportData.numOfwaitingOrder}}</p>
                </div>
                <div class="col" style="background-color: #1caf91; margin-left:5px;border-radius: 5px!important;">
                    <p style="color: white;">Số tiền cần nhận</p>
                    <p style="color: white;">{{reportData.totalMoneyReceive | currency:"":0}}</p>
                </div>
            </div>
         </div>
         <div class="row" style="background-color: #886aea;margin-left: 0px;border-bottom: 1px solid #886aea;border-top-left-radius: 5px; border-top-right-radius: 5px;">
            <div class="col">
                <p style="margin-bottom:0px;color: white;">Thống kê tháng này</p>
            </div>
        </div>
        <div class="row" style="border-left: 1px solid #886aea;border-right: 1px solid #886aea;margin-bottom:0px">
            <div class="col col-60">
                <p style=" font-size: 12px; margin-left:10px; margin-top: 10px; margin-bottom: 0px;">Tổng tiền bán: </p>
            </div>
            <div class="col">
                <p style="font-size: 12px; margin-left:10px; margin-top: 10px; margin-bottom: 0px;">{{reportData.totalMoneyInMonth| currency:"":0}}đ</p>
            </div>
        </div>
        <div class="row" style="border-left: 1px solid #886aea;border-right: 1px solid #886aea;margin-bottom:0px;margin-top:0px">
            <div class="col col-60">
                <p style="font-size: 12px; margin-left:10px; margin-top: 0px; margin-bottom: 0px;">Tổng đơn hàng thành công: </p>
            </div>
            <div class="col">
                <p style="font-size: 12px; margin-left:10px; margin-top: 0px; margin-bottom: 0px;">{{reportData.totalSuccessOrderInMonth}} đơn</p>
            </div>
        </div>
        <div class="row" style="border-left: 1px solid #886aea;border-right: 1px solid #886aea;border-bottom: 1px solid #886aea;margin-bottom:0px;margin-top:0px">
            <div class="col col-60">
                <p style="font-size: 12px; margin-left:10px; margin-top: 0px; margin-bottom: 0px;">Tổng đơn hàng thất bại: </p>
            </div>
            <div class="col">
                <p style="font-size: 12px; margin-left:10px; margin-top: 0px; margin-bottom: 0px;">{{reportData.totalFailOrderInMonth}} đơn</p>
            </div>
        </div>

        <div class="row " style="background-color: #886aea;margin-top: 10px;margin-left: 0px;border-bottom: 1px solid #886aea;border-top-left-radius: 5px; border-top-right-radius: 5px;">
            <div class="col">
                <p style="margin-bottom:0px;color: white;">Các đơn hàng đã xác nhận</p>
            </div>
        </div>
        <div  style="border-left: 1px solid #886aea;padding-left: 10px;padding-right: 10px;border-right: 1px solid #886aea;margin-bottom:10px;margin-top:0px;border-bottom: 1px solid #886aea;">
            <ion-list>
            <div class="card item-avatar" ng-repeat="order in ordersNew| orderBy:'-OrderDate'" ng-click="orderClick(order._id)" ng-if="$index<5">
                <img  src="img/client/orders.png" style="margin-left: 10px;margin-top: 5px"> 
                <p style="font-size: 12px; color: gray; margin-bottom: 0px"><b>SĐT: {{order.PhoneNumber}}</b></p>
                <p style="font-size: 12px; color:gray; margin-bottom: 0px;" >Ngày: {{order.OrderDate | date:"dd/MM/yyyy 'lúc' h:mma"}}</p>
                <p style="font-size: 12px; color: green; margin-bottom: 0px;">Trạng thái: {{order.StatusString}}</p>
                <p style="font-size: 12px; color: green; margin-bottom: 0px"><b>Tổng: {{order.Total| currency:"":0}}đ</b></p>                 
            </div>
            </ion-list>
            <div   ng-if="ordersNew.length==0">
                <p style="font-size: 12px; color: gray; margin-bottom: 0px"><b>Không có đơn hàng nào</b></p>                      
            </div>
        </div>
        <!--<div class="row " style="background-color: #886aea;margin-left: 0px;border-bottom: 1px solid #886aea;border-top-left-radius: 5px; border-top-right-radius: 5px;">
            <div class="col">
                <p style="margin-bottom:0px;color: white;">Các đơn hàng đã giao gần đây</p>
            </div>
        </div>
        <div  style="border-left: 1px solid #886aea;padding-left: 10px;padding-right: 10px;border-right: 1px solid #886aea;margin-bottom:10px;margin-top:0px;border-bottom: 1px solid #886aea;">
            <ion-list>
                <div class="card item-avatar" ng-repeat="order in orders| orderBy:'-OrderDate'" ng-click="orderClick(order._id)" ng-if="$index<5">
                    <img  src="img/client/orders.png" style="margin-left: 10px;margin-top: 5px"> 
                    <p style="font-size: 12px; color: gray; margin-bottom: 0px"><b>SĐT: {{order.PhoneNumber}}</b></p>
                    <p style="font-size: 12px; color:gray; margin-bottom: 0px;" >Ngày: {{order.OrderDate | date:"dd/MM/yyyy 'lúc' h:mma"}}</p>
                    <p style="font-size: 12px; color: green; margin-bottom: 0px;">Trạng thái: {{order.StatusString}}</p>
                    <p style="font-size: 12px; color: green; margin-bottom: 0px"><b>Tổng: {{order.Total| currency:"":0}}đ</b></p>                 
                </div>
            </ion-list>
            <div   ng-if="orders.length===0">
                <p style="font-size: 12px; color: gray; margin-bottom: 0px"><b>Không có đơn hàng nào</b></p>                      
            </div>
        </div>-->
    </ion-content>
</ion-view>