<ion-view style="" class="" id="" title="Thống kê">
    <ion-content class="has-header" padding="true">
        <p>Hôm nay</p>
        <div class="row text-center" style="margin-bottom: 5px">
            <div class="col" style="background-color: #e8b110; margin-right:5px;border-radius: 5px!important;">
                <p style="color: white;">Số đơn hàng đã giao</p>
                <p style="color: white;">{{numOfOrder}}</p>
            </div>
             <div class="col" style="background-color: #d53f40; margin-left:5px;border-radius: 5px!important;">
                <p style="color: white;">Tổng tiền đã giao</p>
                <p style="color: white;">{{currency}}đ</p>
            </div>
        </div>
        <div class="row text-center" style="margin-bottom: 10px">
            <div class="col" style="background-color: #9abc32; margin-right:5px;border-radius: 5px!important;">
                <p style="color: white;">Số đơn hàng đang nhận</p>
                <p style="color: white;">{{numOfOrderReceived}}</p>
            </div>
             <div class="col" style="background-color: #1caf91; margin-left:5px;border-radius: 5px!important;">
                <p style="color: white;">Số tiền cần nhận</p>
                <p style="color: white;">{{currencyOfOrderReceived}}đ</p>
            </div>
        </div>
        <div class="row text-center" style="background-color: #886aea;margin-left: 0px;border-bottom: 1px solid #886aea;border-top-left-radius: 5px; border-top-right-radius: 5px;">
            <div class="col">
                <p style="margin-bottom:0px;color: white;">Các đơn hàng đã xác nhận</p>
            </div>
        </div>
        <ion-list>
        <div class="card item-avatar" ng-repeat="order in ordersNew| orderBy:'-OrderDate'" ng-click="orderClick(order._id)" ng-if="$index<5">
            <img  src="img/client/orders.png" style="margin-left: 10px;margin-top: 5px"> 
            <p style="font-size: 12px; color: gray; margin-bottom: 0px"><b>SĐT: {{order.PhoneNumber}}</b></p>
            <p style="font-size: 12px; color:gray; margin-bottom: 0px;" >Ngày: {{order.OrderDate | date:"dd/MM/yyyy 'lúc' h:mma"}}</p>
            <p style="font-size: 12px; color: green; margin-bottom: 0px;">Trạng thái: {{order.Status}}</p>
            <p style="font-size: 12px; color: green; margin-bottom: 0px"><b>Tổng: {{order.Total| currency:"":0}}đ</b></p>                 
        </div>
        <div class="row text-center" style="background-color: #886aea;margin-left: 0px;border-bottom: 1px solid #886aea;border-top-left-radius: 5px; border-top-right-radius: 5px;">
            <div class="col">
                <p style="margin-bottom:0px;color: white;">Các đơn hàng đã giao gần đây</p>
            </div>
        </div>
        <ion-list>
        <div class="card item-avatar" ng-repeat="order in orders| orderBy:'-OrderDate'" ng-click="orderClick(order._id)" ng-if="$index<5">
            <img  src="img/client/orders.png" style="margin-left: 10px;margin-top: 5px"> 
            <p style="font-size: 12px; color: gray; margin-bottom: 0px"><b>SĐT: {{order.PhoneNumber}}</b></p>
            <p style="font-size: 12px; color:gray; margin-bottom: 0px;" >Ngày: {{order.OrderDate | date:"dd/MM/yyyy 'lúc' h:mma"}}</p>
            <p style="font-size: 12px; color: green; margin-bottom: 0px;">Trạng thái: {{order.Status}}</p>
            <p style="font-size: 12px; color: green; margin-bottom: 0px"><b>Tổng: {{order.Total| currency:"":0}}đ</b></p>                 
        </div>
      </ion-list>
    </ion-content>
</ion-view>